In [12]:
from query_handler import QueryHandler

handler = QueryHandler()

In [13]:
df_res = handler.execute_query(handler.query)
df_res[['countryLabel.value', 'capitalLabel.value']].head()

  countryLabel.value capitalLabel.value
0        Afghanistan              Kabul
1            Albania             Tirana
2            Algeria            Algiers
3            Andorra   Andorra la Vella
4             Angola             Luanda

In [ ]:
query = """

"""